{% extends "profile_base_generic.html" %}

{% load static %}
    {% block title %}<title>Устройства</title>{% endblock title%}

    {% block slider %}
    {% endblock slider %}


    {% block propertys %}

<h3>Профиль устройства</h3>

<main class="profile_row">
    <div class="profile_col">
        <h4>------------------------------</h4>
        <ul class="list-group" data-name="profile-list"></ul>
    </div>
    <div class="profile_col">
        <h4>Список команд</h4>
        <ul class="list-group" data-name="profile-list"></ul>
    </div>
    <div class="profile_col">
        <h4>------------------------------</h4>
        <ul class="list-group" data-name="profile-list"></ul>
    </div>
    <div class="profile_col profile_input-group">
        <div class="input-group-append">
            <div class="input-group-text">Введите команду для новой кнопки</div>
            <input type="text" class="form-control" placeholder=">_" data-name="profile-input" />
        </div>
        <div class="input-group-append">
            <button class="btn btn-success" data-name="add-btn">Добавить</button>
            <div class="rotate-container">
                <div id="rotate-shadow">
                    <div id="rotate"></div>
                </div>
                <div>
                    <input type="text" id="rotate-value" value="0">
                </div>
            </div>
        </div>
    </div>

</main>


    {% endblock propertys %}

    {% block future %}
    {% endblock future %}

    {% block about %}
    {% endblock about %}

    {% block facts %}
    {% endblock facts %}

    {% block content %}
    {% endblock content %}

    {% block testimonials %}
    {% endblock testimonials %}
