{% extends "base_generic.html" %}

{% load static %}
    {% block title %}<title>Содержание</title>{% endblock title%}

    {% block slider %}
    {% endblock slider %}

    {% block about %}
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary">Прогресс<span></span></p>
                        <h1 class="mb-5">Стадия выполнения дипломной работы</h1>
                        <p class="mb-4">Общее состояние готовности проекта на текущий момент</p>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Реализация</p>
                                <p class="mb-2">60%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Код и контент</p>
                                <p class="mb-2">50%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Текст дипломной работы</p>
                                <p class="mb-2">10%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="10"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="{% url 'index' %}"
                           class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Подробнее</a>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static '/img/kotya.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    {% endblock about %}

    {% block future %}
    {% endblock future %}

    {% block facts %}
    {% endblock facts %}

    {% block content %}
    {% endblock content %}

    {% block testimonials %}
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <p class="section-title text-secondary justify-content-center"><span></span>Другие проекты
                    автора<span></span></p>
                <a href="https://github.com/unnamemik" class="text-center mb-5"><h4 style="color: rgb(0, 0, 255); text-decoration: underline">github.com/unnamemik</h4></a>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Arrays.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Arrays (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/arrays.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Все основные задачи с массивами, приложение с GUI </h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Tuskarora.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Tuskarora (Java)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/tuskarora.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Программа для тестирования порта LPT (378h). Умеет слать сигналы в заданный порт с заданным интервалом.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                    <a href="{% static '/storage/Calculator.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Calculator (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/calculator.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Калькулятор, считает проценты и корень, учитывает скобки, ведет логи.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/doggy.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Doggy (C#)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/doggy.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Широко известная в узких кругах задача про собаку и ее друзей.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Messenger.rar' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Messenger (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/messenger.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Мессенджер для локальных сетей. Сервер (на ведущую машину) и клиент (на остальные).</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/percent.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Percent (C#)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/percent.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Простенький но нужный калькулятор расчета обратного процента.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Phonebook.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Phonebook (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <img class="img_tooltip" src="{% static '/storage/phonebook.png' %}">
                            <div class="ps-4">
                                <h5 class="mb-1">Телефонная книга с базой данных на SQLite.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock testimonials %}
