<!DOCTYPE html>
{% load static %}
<html lang="ru">

{% block head %}
    <head>
        {% block title %}<title>REMOTICA</title>{% endblock title %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% block keywords %}
            <meta content="" name="keywords">{% endblock keywords %}
        {% block description %}
            <meta content="Дипломный проект: Управление устройствами по сети с применением пользовательского программирования" name="description">{% endblock description %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow"/>
     <!-- Add additional CSS in static file -->

        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link href="{% static '/img/favicon.ico' %}" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
              rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static '/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static '/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static '/lib/lightbox/css/lightbox.min.css' %}">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static '/css/style.css' %}" rel="stylesheet">

    </head>
{% endblock head %}

{% block body %}
    <body>
    <div class="container-xxl bg-white p-0">
    {% block header %}
        {% block navmenu %}
            <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="{% url 'index' %}" class="navbar-brand p-0">
                    <div class="title" style="font-size: 2.5rem; font-weight: 700"><span>First</span><span style="color: #FBA504">Projects</span>.ru</div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="{% url 'index' %}" class="nav-item nav-link active">Главная</a>
                        <a href="{% url 'diploma' %}" class="nav-item nav-link">Содержание</a>
                        <a href="{% url 'profile' %}" class="nav-item nav-link">Профиль</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">Об авторе</a>
                    </div>
                    {% block login %}
                        <div class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block" style="min-width: 200px">
                            {% if user.is_authenticated %}
                                <span>User: {{ user.get_username }}</span> -
                                <span><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></span>
                            {% else %}
                                <a href="{% url 'login' %}?next={% url 'profile' %}">Login</a>
                            {% endif %}
                        </div>
                    {% endblock login %}
                </div>
            </nav>
        {% endblock navmenu %}

        {% block slider %}
            <div class="container-xxl bg-primary hero-header">
                <div class="container px-lg-5">
                    <div class="row g-5 align-items-end">
                        <div class="col-lg-6 text-center text-lg-start">
                            {% block slider_txt_h1 %}<h1 class="text-white mb-4 animated slideInDown">Дипломная работа</h1>{% endblock slider_txt_h1 %}
                            {% block slider_txt_p %}<p class="text-white pb-3 animated slideInDown"><h2 style="color: #ffffff">Управление устройствами по сети с
                                применением пользовательского программирования</h2>{% endblock slider_txt_p %}
                        <div style="display: flex; gap: 10px; padding-bottom: 25px;">
                            <a href="{% url 'diploma' %}"
                               class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft" style="max-height: 55px;">Содержание
                                работы</a>
                            <a href="{% url 'profile' %}"
                               class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight" style="max-height: 55px;">Профиль
                                управления</a>
                        </div>

                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid animated zoomIn" src="{% static '/img/hero.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endblock slider %}

        {% block slider_small %}
            <div class="container-xxl bg-primary hero-header" style="margin-bottom: 2rem; padding: 5rem 0;">
                <div class="container px-lg-5">
                    <div class="row g-5 align-items-end">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h2 class="text-white pb-3 animated slideInDown" style="font-size: 26px; padding: 50px 0 !important;">Управление устройствами по сети с
                            применением пользовательского программирования</h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock slider_small %}
        </div>
    {% endblock header %}



    {% block future %}
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <a href="{% url 'structure' %}">
                                <i class="fa fa-3x fa-regular fa-sitemap text-primary mb-4"></i>
                                <h3 class="mb-3">Обзор проекта</h3>
                                <p class="m-0">Структура проекта и краткое содержание</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <a href="{% url 'techno' %}">
                                <i class="fa fa-3x fa-sharp fa-solid fa-microchip text-primary mb-4"></i>
                                <h3 class="mb-3">Технологии</h3>
                                <p class="m-0">Подробнее о ключевых технологиях, использованных в проекте</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <a href="{% url 'files' %}">
                                <i class="fa fa-3x fa-solid fa-download text-primary mb-4"></i>
                                <h3 class="mb-3">Файлы и ссылки</h3>
                                <p class="m-0">Программное обеспечение и ссылки на источники</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock future %}


    {% block about %}
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary">Прогресс<span></span></p>
                        <h2 class="mb-5">Стадия выполнения дипломной работы</h2>
                        <p class="mb-4">Общее состояние готовности проекта на текущий момент</p>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Реализация</p>
                                <p class="mb-2">100%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Код и контент</p>
                                <p class="mb-2">100%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Текст дипломной работы</p>
                                <p class="mb-2">100%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="{% url 'diploma' %}"
                           class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Подробнее</a>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static '/img/progress.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    {% endblock about %}



    {% block facts %}
        <div class="container-xxl bg-primary fact py-5 wow fadeInUp" style="margin-left: auto; margin-right: auto" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                        <i class="fa fa-solid fa-chart-bar fa-3x text-secondary mb-3"></i>
                        <p class="text-white mb-2" style="font-size: 32px" data-toggle="counter-up">30972</p>
                        <p class="text-white mb-0">Написано строк в проекте</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-solid fa-laptop-code fa-3x text-secondary mb-3"></i>
                        <p class="text-white mb-2" style="font-size: 32px" data-toggle="counter-up">718</p>
                        <p class="text-white mb-0">Написано строк python</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-solid fa-file-word fa-3x text-secondary mb-3"></i>
                        <p class="text-white mb-2" style="font-size: 32px" data-toggle="counter-up">1264</p>
                        <p class="text-white mb-0">Написано строк диплома</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-calendar-check fa-3x text-secondary mb-3"></i>
                        <p class="text-white mb-2" style="font-size: 32px" data-toggle="counter-up">60</p>
                        <p class="text-white mb-0">Дней на проект</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock facts %}

    {% block content %}
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Галерея<span></span></p>
                    <h2 class="text-center mb-5">Как создавался проект</h2>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="mx-2 active" data-filter="*">Все</li>
                            <li class="mx-2" data-filter=".first">Фото</li>
                            <li class="mx-2" data-filter=".second">Видео</li>
                        </ul>
                    </div>
                </div>

                <div class="row g-4 portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static '/img/auto.png' %}" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1"
                                       href="{% static '/img/auto.png' %}" data-bs-target="portfolio" target="_blank"><i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static '/img/arduino.png' %}" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="{% static '/img/arduino_clip.mp4' %}" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static '/img/nano.png' %}" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1"
                                       href="{% static '/img/nano.png' %}" data-bs-target="portfolio" target="_blank"><i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static '/img/python.png' %}" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="{% static '/img/python_clip.mp4' %}" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static '/img/solder.png' %}" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1"
                                       href="{% static '/img/solder.png' %}" data-bs-target="portfolio" target="_blank"><i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static '/img/pages.png' %}" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1"
                                       href="{% static '/img/pages.png' %}" data-bs-target="portfolio" target="_blank">
                                       <i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}

    {% block testimonials %}
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <p class="section-title text-secondary justify-content-center"><span></span>Другие проекты
                    автора<span></span></p>
                <a href="https://github.com/unnamemik" class="text-center mb-5"><p style="color: rgb(0, 0, 255); text-decoration: underline">github.com/unnamemik</p></a>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Arrays.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Arrays (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/arrays.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/arrays.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Все основные задачи с массивами, приложение с GUI </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Tuskarora.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Tuskarora (Java)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/tuskarora.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/tuskarora.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Программа для тестирования порта LPT (378h). Умеет посылать сигналы в заданный порт с заданным интервалом.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Calculator.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Calculator (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/calculator.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/calculator.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Калькулятор, считает проценты и корень, учитывает скобки, ведет логи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Doggy.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Doggy (C#)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/doggy.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/doggy.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Широко известная в узких кругах задача про собаку и ее друзей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Messenger.rar' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Messenger (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/messenger.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/messenger.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Мессенджер для локальных сетей. Сервер (на ведущую машину) и клиент (на остальные).</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Percent.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Percent (C#)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/percent.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/percent.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Простенький но нужный калькулятор расчета обратного процента.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <a href="{% static '/storage/Phonebook.exe' %}"><p class="fs-5" style="text-decoration: underline"><i class="fa fa-link fa-2x text-primary mt-n4 me-3"></i>Phonebook (Python)</p></a>
                        <div class="d-flex align-items-center">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <img class="img_tooltip" src="{% static '/storage/phonebook.png' %}" alt="">
                                        <div class="portfolio-overlay">
                                            <a class="btn btn-square btn-outline-light mx-1"
                                               href="{% static '/storage/phonebook.png' %}" data-bs-target="portfolio" target="_blank">
                                               <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-4">
                                <p class="mb-1">Телефонная книга с базой данных на SQLite.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock testimonials %}

    {% block propertys %}

    {% endblock propertys %}


    {% block footer %}
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3">
                        <a href="{% url 'about' %}"><p class="section-title text-white h5 mb-4">Обратная связь<span></span></p></a>
                        <a href="https://t.me/vtelegramme" target="_blank"><p class="text-white mb-4"><i class="fab fa-telegram me-3"></i>@vtelegramme</p></a>
                        <a href="mailto:unnamemik@gmail.com"><p class="text-white mb-4"><i class="fa fa-envelope me-3"></i>unnamemik@gmail.com</p></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="{% url 'index' %}"><p class="section-title text-white h5 mb-4">Быстрые ссылки><span></span></p></a>
                        <a class="btn btn-link" href="{% url 'index' %}">Главная</a>
                        <a class="btn btn-link" href="{% url 'diploma' %}">Содержание</a>
                        <a class="btn btn-link" href="{% url 'profile' %}">Профиль</a>
                        <a class="btn btn-link" href="{% url 'about' %}">Об авторе</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="https://firstprojects.ru/diploma/structure"><p class="section-title text-white h5 mb-4">Статьи и контент<span></span></p></a>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="{% static '/img/arduino.png' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static '/img/auto.png' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static '/img/nano.png' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static '/img/pages.png' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static '/img/python.png' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static '/img/solder.png' %}" alt="Image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <ul style="list-style: none">
                                <li>&copy; <a class="border-bottom" href="#">FirstProjects.ru</a>, All Right Reserved.</li>

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <li>Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a></li>
                                <li>Powered By <a class="border-bottom" href="https://github.com/unnamemik">unnamemik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock footer %}

    {% block back_to_top %}
        <div>
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
    {% endblock back_to_top %}
    </body>
{% endblock body %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static '/lib/lightbox/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static '/lib/wow/wow.min.js' %}"></script>
        <script src="{% static '/lib/easing/easing.min.js' %}"></script>
        <script src="{% static '/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static '/lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static '/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static '/lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static '/lib/lightbox/js/lightbox.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static '/js/main.js' %}"></script>
</html>
