{% extends "base_generic.html" %}

{% block content %}
<div class="container-xxl bg-primary hero-header">
<div class="col-lg-6 text-center text-lg-start" style="margin-left: 100px">
<h1 class="text-white mb-4 animated slideInDown">Enter your e-mail</h1>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight" value="Reset password">
</form>
</div>
</div>
{% endblock %}