<!DOCTYPE html>
{% load static %}
<html lang="ru">
<div class="diploma_text" style="text-indent: 50px">
    <div>Доступно к скачиванию:</div>
    <div class="bg-light rounded my-4">
            <li><b>Структура дипломного проекта:</b></li>
            <div style="padding-left: 30px; margin-bottom: 50px">
                <a href={% static 'remotica.docx' %}><u>Скачать файл</u></a>
            </div>
            <li><b>Клиентское приложение:</b></li>
                <div style="padding-left: 30px; margin-bottom: 50px">
                    <a href={% static 'Remotica CA.exe' %}><u>Скачать файл</u></a>
                </div>
            <li><b>Приложение для локального управления устройством:</b></li>
                <div style="padding-left: 30px; margin-bottom: 50px">
                    <a href={% static 'Remotica UI.exe' %}><u>Скачать файл</u></a>
                </div>
            <li><b>Список источников:</b></li>
                <div style="padding-left: 30px; margin-bottom: 50px">
                Книги:
                1. Брюс Эккель Филососфия Java. - 4-е полное издание, СПб.: Питер, 2016г, 1168с.
                2. Дронов В.А. Django 3.0. Практика создания веб-сайтов на Python. СПб.: БХВ-Петербург, 2022г, 704с.
                3.   Дэвид Бизли Python. Исчерпывающее руководство. СПб.: Питер 2023г, 368с.
                4. Дэвид Флэнаган JavaScript. Полное руководство, 7-е издание, СПб.: ООО «Диалектика», 2021г, 720с.
                5. Кольцов Д.М. Дубовик Е.В. Справочник Python. Кратко, быстро, под рукой. СПб.: Наука и техника, 2021г, 288с.
                6. Кириченко А.В. Дубовик Е.В. Справочник HTML. Кратко, быстро, под рукой. СПб.: Наука и техника, 2021г, 288с.
                7. Кириченко А.В. Никольский А.П. Дубовик Е.В. Web на практике. CSS, HTML, JavaScript, MySQL, PHP для fullstack-разработчиков – СПб.: Наука и техника, 2021г, 432с.
                8. Никольский А.П. Дубовик Е.В. Справочник JavaScript. Кратко, быстро, под рукой. СПб.: Наука и техника, 2021г, 304c.
                9. Подбельский В.В. Язык С++ учебное пособие, 5-е издание, М.: Финансы и статистика, 2006г, 560с.
                10. Прохоренок Н.А. Python3 и PyQT 6. Разработка приложений. СПб.: БХВ-Петербург, 2023г, 832с.
                11. Хрусталев А.А. Дубовик Е.В. Справочник CSS3. Кратко, быстро, под рукой. СПб.: Наука и техника, 2021г, 304c.

                Интернет-ресурсы:
                1. https://www.arduino.cc/
                2. https://en.wikipedia.org/
                3. https://github.com/
                4. https://htmlcodex.com/
                5. https://www.django-rest-framework.org/
                </div>
    </div>
</div>
</html>