<!DOCTYPE html>
{% load static %}
<html lang="ru">
<div class="diploma_text" style="text-indent: 50px">
    <div>Доступно к скачиванию:</div>
    <div class="bg-light rounded my-4">
        <li><b>Структура дипломного проекта:</b></li>
        <div style="padding-left: 30px; margin-bottom: 50px">
            <ul style="list-style: none">
                <li><a href={% static 'remotica.docx' %}><u>Скачать файл</u></a></li>
                <li><a href="https://github.com/unnamemik/remotica"><u>https://github.com/unnamemik/remotica</u></a>
                </li>
            </ul>
        </div>
        <li><b>Клиентское приложение:</b></li>
        <div style="padding-left: 30px; margin-bottom: 50px">
            <ul style="list-style: none">
                <li><a href={% static 'Remotica CA.exe' %}><u>Скачать файл</u></a></li>
                <li><a href="https://github.com/unnamemik/remotica_client"><u>https://github.com/unnamemik/remotica_client</u></a>
                </li>
            </ul>
        </div>
        <li><b>Приложение для локального управления устройством:</b></li>
        <div style="padding-left: 30px; margin-bottom: 50px">
            <ul style="list-style: none">
                <li><a href={% static 'Remotica UI.exe' %}><u>Скачать файл</u></a></li>
                <li><a
                        href="https://github.com/unnamemik/remotica_ui"><u>https://github.com/unnamemik/remotica_ui</u></a>
                </li>
            </ul>
        </div>
        <li><b>Мобильное приложение:</b></li>
        <div style="padding-left: 30px; margin-bottom: 50px">
            <ul style="list-style: none">
                <li><a href={% static 'Remotica.apk' %}><u>Скачать файл</u></a></li>
                <li><a href="https://github.com/unnamemik/remotica_mobile"><u>https://github.com/unnamemik/remotica_mobile</u></a>
                </li>
            </ul>
        </div>
        <li><b>Список источников:</b></li>
        <div style="padding-left: 30px; margin-bottom: 50px">
            <ul style="list-style: none">
                <div><b>Книги:</b></div>
                <li>1. Брюс Эккель Филососфия Java. - 4-е полное издание, СПб.: Питер, 2016г, 1168с.</li>
                <li>2. Дронов В.А. Django 3.0. Практика создания веб-сайтов на Python. СПб.: БХВ-Петербург, 2022г,
                    704с.
                </li>
                <li>3. Дэвид Бизли Python. Исчерпывающее руководство. СПб.: Питер 2023г, 368с.</li>
                <li>4. Дэвид Флэнаган JavaScript. Полное руководство, 7-е издание, СПб.: ООО «Диалектика», 2021г,
                    720с.
                </li>
                <li>5. Кольцов Д.М. Дубовик Е.В. Справочник Python. Кратко, быстро, под рукой. СПб.: Наука и техника,
                    2021г, 288с.
                </li>
                <li>6. Кириченко А.В. Дубовик Е.В. Справочник HTML. Кратко, быстро, под рукой. СПб.: Наука и техника,
                    2021г, 288с.
                </li>
                <li>7. Кириченко А.В. Никольский А.П. Дубовик Е.В. Web на практике. CSS, HTML, JavaScript, MySQL, PHP
                    для fullstack-разработчиков –
                    СПб.: Наука и техника, 2021г, 432с.
                </li>
                <li>8. Никольский А.П. Дубовик Е.В. Справочник JavaScript. Кратко, быстро, под рукой. СПб.: Наука и
                    техника, 2021г, 304c.
                </li>
                <li>9. Подбельский В.В. Язык С++ учебное пособие, 5-е издание, М.: Финансы и статистика, 2006г, 560с.
                </li>
                <li>10. Прохоренок Н.А. Python3 и PyQT 6. Разработка приложений. СПб.: БХВ-Петербург, 2023г, 832с.</li>
                <li>11. Хрусталев А.А. Дубовик Е.В. Справочник CSS3. Кратко, быстро, под рукой. СПб.: Наука и техника,
                    2021г, 304c.
                </li>
                <P></P>
                <div><b>Интернет-ресурсы:</b></div>
                <li>1. https://www.arduino.cc/</li>
                <li>2. https://en.wikipedia.org/</li>
                <li>3. https://github.com/</li>
                <li>4. https://htmlcodex.com/</li>
                <li>5. https://www.django-rest-framework.org/</li>
            </ul>
        </div>
    </div>
</div>
</html>