{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Файлы и ссылки</title>{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block slider_small_txt_p %}<p class="text-white pb-3 animated slideInDown">Файлы и
    ссылки{% endblock slider_small_txt_p %}

{% block header %}
{% endblock %}

{% block future %}
{% endblock %}

{% block about %}
{% endblock %}

{% block facts %}
{% endblock %}

{% block content %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block propertys %}
    <div class="diploma_text" style="text-indent: 50px">
        <p><span><img style="max-height: 500px; max-width: 500px; padding-right: 50px"
                      src={% static 'content_img/smarthome.jpg' %} class="leftimg"/> </span>
            <span>Есть множество продвинутых сервисов, позволяющих создать комфортную экосистему "умного дома". Подобные системы позволяют
управлять бытовыми приборами и устройствами дистанционно, либо используя пользовательские настройки автоматизируют какие-либо задачи.
Например, пользователь может удаленно включать свет или запускать робопылесос, чтобы к своему приезду дом был чистым и освещенным.
Кроме того, система может самостоятельно следить за климатом в доме и по мере необходимости включать устройства климат-контроля по
заданным настройкам. И многое другое - от кошачьей кормушки до управления шторами. Особенность таких сервисов - простота и удобство.
Но в то же время, пользователь в некоторой степени ограничен ассортиментом устройств, входящих в такую экосистему - обусловлено это
тем, разумеется, что устройства должны понимать друг друга и взаимодействовать между собой. И не каждый робопылесос способен по
сети принимать команды в принципе. С другой стороны, набор предлагаемых пользователю устройств как правило покрывает весь спектр
        бытовых потребностей.</span></p>

        <p><span><img style="max-height: 400px; max-width: 400px; padding-left: 50px"
                      src={% static 'content_img/cnc.jpg' %} class="rightimg"/> </span>
            <span>Помимо бытового применения удаленного управления устройствами, существует также промышленное применение данного аспекта - в
их числе различные отрасли в металло- и деревообработке (как правило, это станки с числовым программным обеспечением), а также
различные узлы и агрегаты второстепенного значения - компрессоры, печи, устройства стабилизации и прочие. Некоторые запускаются
с предварительными настройками, другие требуют оперативного контроля - например, доставки по сети управляющей программы. В такой
экосистеме также присутствуют многочисленные датчики и контроллеры, для автоматизации производства. Подобные системы довольно
специфичны и требуют определенной квалификации со стороны пользователя.</span></p>

        <p><span><img style="max-height: 500px; max-width: 500px; padding-right: 50px"
                      src={% static 'content_img/bbarduino.jpg' %} class="leftimg"/> </span>
            <span>А еще существует огромная сфера дистанционного управления "нестандартными" устройствами (в основном это любители-энтузиасты),
в основе которых лежат микрочипы различных производителей. Зачастую такие устройства тоже образуют некую экосистему, обеспечивая
совместимость между различными модулями. Каждый из таких модулей способен выполнять определенную функцию, либо отслеживать тот или
иной заданный параметр. В таких системах нужно уметь не только разбираться в принципе действия узлов системы, но и самостоятельно
писать код для программирования отдельных модулей и зачастую - правильно держать в руках паяльник. Конечно же, использование таких
схем ограничено кругом увлекающихся лиц и с точки зрения коммерции не имеет практически никакого успеха среди самых рядовых
пользователей в бытовом применении. Впрочем, необходимо отметить, что разобравшись в основных тезисах можно самостоятельно
собрать схему контроля за температурой в аквариуме или схему управления газовым котлом, например. Если сильно постараться -
то даже с приемом/отправкой данных по сети. В настоящее время большое комьюнити в интернете предоставляют подробные инструкции
по реализации подобных проектов, включая всю необходимую документацию и программное обеспечение.</span></p>

        <p><span><img style="max-height: 500px; max-width: 500px; padding-left: 50px"
                      src={% static 'content_img/bender.jpg' %} class="rightimg"/> </span>
            <span>Но что же делать, если появилась необходимость управлять устройством, которое отсутствует в списке провайдеров экосистем
"умных домов"? И нет достаточно опыта (времени, желания - выберите сами), чтобы подключить свое собственное устройство?
В таком случае, нужно, во-первых, обеспечить интерфейс данного устройства на стороне пользователя - выбрать паттерны поведения
устройства (например, оно как минимум должно уметь включаться, затем производить какие-либо специфические действия); во-вторых,
реализовать способность устройства принимать команды и выполнять их, для чего нужны драйвера (модули согласования) на самом
устройстве. Ну и в третьих - обеспечить связь между устройством и пользователем, желательно, чтобы не было ограничений в
виде присутствия пользователя именно в сети устройства.</span></p>

        <p><span><img style="max-height: 500px; max-width: 500px; padding-right: 50px"
                      src={% static 'content_img/soldering.jpeg' %} class="leftimg"/> </span>
            <span><b>Идея данного проекта</b> заключается в том, чтобы пользователь мог самостоятельно создавать собственные экосистемы, используя не
только заранее сконструированные устройства, с заранее заданным интерфейсом, но и создавать собственные профили управления
устройствами, которые будут подключаться посредством модулей-драйверов к соответствующему профилю. Конечно же, тут не все
так просто, как в случае "воткнул в розетку и тыкаешь кнопочки в приложении", и подобная схема подразумевает у пользователя
как минимум физиологически правильного расположения рук. И тут мы переходим к <b>основной задаче проекта</b> - дать возможность пользователю
собирать свою собственную систему с минимальным углублением в технические тонкости, используя интуитивно понятный интерфейс и
модульную сборку драйверов.</span></p>

        <p><span><img style="max-height: 500px; max-width: 300px; padding-right: 50px"
                      src={% static 'content_img/code.jpg' %} class="leftimg"/> </span>
            <span><b>Пользовательским программированием (EUP)</b> называются способы и методы, которые позволяют пользователю изменять функциональность
системы, не имея квалификационных навыков специалиста - в плане инженерного конструирования или разработки программного обеспечения.
В этом проекте пользователь сам будет определять виды и количество устройств, которыми он будет управлять - а также самостоятельно будет определять
паттерны поведения (функциональность) устройств.</span></p>

        <p><span><img style="max-height: 500px; max-width: 500px; padding-left: 50px"
                      src={% static 'content_img/bumblebee.jpg' %} class="rightimg"/> </span>
            <span>Далее, в качестве примера решения мы отберем у какого-нибудь мальчика машинку на радиоуправлении. Во-первых, потому что она у него есть,
во-вторых, паттерны поведения у такого устройства достаточно широки, чтобы на этом примере показать возможности реализации. В-третьих,
это практически готовая сборка с точки зрения технической составляющей - нам не нужно прикручивать моторы, шестеренки и приводы -
нам достаточно прикрутить драйвер управления. В принципе, возможно создание собственных устройств, но это выходит за рамки текущего проекта.
Обязательно отметим, что мы вернем машинку, потому что мы исключительно против нахальной апроприации чего-бы то ни было имущества. (У автора
спонсором машинки стал собственный сын).</span></p>

        <p><span><img style="max-height: 300px; max-width: 300px; padding-right: 50px"
                      src={% static 'content_img/block.jpg' %} class="leftimg"/> </span>
            <span><b>Структура проекта</b> (в пользовательской его части) состоит из трех основных блоков:</span></p>
        <p>
        <ol>
            <li>Подключение модуля-драйвера к устройству.</li>
            <li>Установка и настройка клиентского программного обеспечения.</li>
            <li>Настройка профиля устройства в личном кабинете на сайте.</li>
        </ol>

        <p><span><img style="max-height: 300px; max-width: 300px; padding-left: 50px"
                      src={% static 'content_img/rocket.jpg' %} class="rightimg"/> </span>
            <span>Для этого, как и следует приличному проекту, впоследствии будет написана подробная пользовательская инструкция.
        Поскольку проект реализуется исключительно в образовательных целях, необходимую для модуля-драйвера
        электронику пользователь приобретает и программирует самостоятельно - для этого также будет дана подробная инструкция.
        В коммерческом варианте предполагается поставка уже готовой электроники для сопряжения устройств.</span>
        </p>

        <p>Для реализации проекта с точки зрения сервиса структура будет определена несколько иначе, чем для
            пользователя, с детальным
            описанием этапов.
            Такое описание и есть <b>содержательная часть дипломной работы</b> (доступна целиком авторизованным
            пользователям):</p>
        <p>
        <ol>
            <li>Настройка рабочего окружения:</li>
            <div>
                <ul>
                    <li>настройка хостинга, делегирование имен и рабочего окружения на сервере.</li>
                    <li>создание репозитория проекта.</li>
                    <li>настройка IDE, взаимодействие с сервером и репозиторием.</li>
                </ul>
            </div>
            <li>Разработка и настройка серверной части проекта:</li>
            <div>
                <ul>
                    <li>настройка фреймворка, API и карта сайта.</li>
                    <li>разработка сайта, выбор шаблона и оформление внешнего вида.</li>
                    <li>наполнение контентом.</li>
                </ul>
            </div>
            <li>Разработка и настройка клиентской части проекта:</li>
            <div>
                <ul>
                    <li>настройка клиентского ПО для связи с сервером.</li>
                    <li>разработка приложения для локального использования устройства.</li>
                    <li>разработка модуля управления и установка на устройство.</li>
                </ul>
            </div>
        </ol>

        <p>
            Далее, в соседних вкладках, можно ознакомиться со <a href='https://firstprojects.ru/diploma/techno'><u>стеком
            технологий</u></a> проекта и скачать
            <a href='https://firstprojects.ru/diploma/files'><u> структуру проекта</u></a> и пользовательские приложения
            для настройки клиента.</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}