{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Файлы и ссылки</title>{% endblock title%}

    {% block slider %}
    {% endblock slider %}

    {% block slider_small_txt_p %}<p class="text-white pb-3 animated slideInDown">Файлы и ссылки{% endblock slider_small_txt_p %}

    {% block header %}
    {% endblock %}

    {% block future %}
    {% endblock %}

    {% block about %}
    {% endblock %}

    {% block facts %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block testimonials %}
    {% endblock %}

{% block propertys %}
<div class="diploma_text" style="text-indent: 50px">
    <div>В процессе разработки проекта был использован следующий стек технологий:</div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/django_logo.png' %}">
            <li><b>Django:</b></li>
            <div class="techno-item">
                Фреймворк веб сайта - он позволяет использовать Python в качестве основного языка бэкенда,
                к тому же Django несмотря на свою простоту весьма гибкий и мощный.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/python_logo.png' %}">
            <li><b>Python:</b></li>
            <div class="techno-item">
                Собственно, профильный язык проекта - на нем написан функционал бэкенда и серверная часть сайта, которая
                позволяет
                устанавливать и поддерживать соединение с устройствами. Взаимодействие с базой данных также реализовано
                на python. Для
                десктопного приложения в локальной сети был написан GUI на PyQT.
            </div>
        </div>
    </div>

    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/assembly_logo.png' %}">
            <li><b>assembler:</b></li>
            <div class="techno-item">
                Вернее, его С/C++ диалект для модуля-драйвера устройства (на базе Arduino), загружается в память
                микрочипа и обеспечивает интерфейс и
                связь с локальной сетью на стороне клиента.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/SQLite_logo.png' %}">
            <li><b>SQLite:</b></li>
            <div class="techno-item">
                В проекте использовались базы данных SQLite, ввиду небольшого масштаба данных и простоты ее
                использования -
                данные хранятся в одном файле. При необходимости - например, в случае прироста и усложнения проекта -
                можно конвертировать в MySQL.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/html_logo.png' %}">
            <li><b>HTML/css/Bootstrap:</b></li>
            <div class="techno-item">
                Внешний вид и стили веб-сайта, без этого никуда, конечно же. Был использован один из многочисленных free
                шаблонов,
                который был адаптирован и в значительной части модернизирован под нужды проекта. Также в проект включен
                Bootstrap
                и иконки с Fontawesome.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/js_logo.png' %}">
            <li><b>JavaScript:</b></li>
            <div class="techno-item">
                Бесспорный лидер в коде на стороне клиента, помогает оживить сайт и обеспечить взаимодействие с пользователем.
                В проекте JS создает интерфейс управления устройствами в интерактивном режиме.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/nginx_logo.png' %}">
            <li><b>Nginx:</b></li>
            <div class="techno-item">
                Поскольку вся серверная часть строится на Linux, то лучшим решением было использование Nginx. На нем построено
                рабочее окружение Django и поддержка Python.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/api_logo.png' %}">
            <li><b>REST API:</b></li>
            <div class="techno-item">
                Позволяет клиентскому приложению связать серверную часть с локальными устройствами, обеспечивает устойчивую
                и незаметную связь.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/git_logo.png' %}">
            <li><b>GIT:</b></li>
            <div class="techno-item">
                Лучший инструмент для версионирования и отслеживания изменений в проекте, незаменим в написании и хранении
                сложных проектов.
            </div>
        </div>
    </div>
    <div class="bg-light rounded my-4">
        <div>
            <img class="leftimg" style="max-width: 100px; max-height: 100px" src="{% static 'logo/ssh_logo.png' %}">
            <li><b>Библиотеки и инструменты:</b></li>
            <div class="techno-item">
                Тут целый ряд инструментов и библиотек, имеющих вспомогательное значение, но достаточно специфичных:
                JQuery, JSON, ftp/sftp/ssh. В качестве среды разработки был использован Pycharm IDE, а среди прочих авторских
                проектов, ссылки на которые можно найти на страницах сайта, есть приложения на C# и Java.
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}