<!DOCTYPE html>
{% load static %}
<html lang="ru">
<div class="diploma_text" style="text-indent: 50px">
    <p>В процессе разработки проекта был использован следующий стек технологий:</p>
        <ol>
            <li><b>Django:</b></li>
            <div>
                Фреймворк веб сайта - он позволяет использовать Python в качестве основного языка бэкенда,
                к тому же Django несмотря на свою простоту весьма гибкий и мощный.
            </div>
            <li><b>Python:</b></li>
            <div>
                Собственно, профильный язык проекта - на нем написан функционал бэкенда и серверная часть сайта, которая позволяет
                устанавливать и поддерживать соединение с устройствами. Взаимодействие с базой данных также реализовано на python. Для
                десктопного приложения в локальной сети был написан GUI на PyQT.
            </div>
            <li><b>assembler:</b></li>
            <div>
                Вернее, его С/C++ диалект для модуля-драйвера устройства (на базе Arduino), загружается в память микрочипа и обеспечивает интерфейс и
                связь с локальной сетью на стороне клиента.
            </div>
            <li><b>SQLite:</b></li>
            <div>
                В проекте использовались базы данных SQLite, ввиду небольшого масштаба данных и простоты ее использования -
                данные хранятся в одном файле. При необходимости - например, в случае прироста и усложнения проекта - можно
                конвертировать в MySQL.
            </div>
            <li><b>HTML/css/Bootstrap:</b></li>
            <div>
                Внешний вид и стили веб-сайта, без этого никуда, конечно же. Был использован один из многочисленных free шаблонов,
                который был адаптирован и в значительной части модернизирован под нужды проекта. Также в проект включен Bootstrap
                и иконки с Fontawesome.
            </div>
            <li><b>JavaScript:</b></li>
            <div>
                Бесспорный лидер в коде на стороне клиента, помогает оживить сайт и обеспечить взаимодействие с пользователем.
                В проекте JS создает интерфейс управления устройствами в интерактивном режиме.
            </div>
            <li><b>Nginx:</b></li>
            <div>
                Поскольку вся серверная часть строится на Linux, то лучшим решением было использование Nginx. На нем построено
                рабочее окружение Django и поддержка Python.
            </div>
            <li><b>REST API:</b></li>
            <div>
                Позволяет клиентскому приложению связать серверную часть с локальными устройствами, обеспечивает устойчивую
                и незаметную связь.
            </div>
            <li><b>GIT:</b></li>
            <div>
                Лучший инструмент для версионирования и отслеживания изменений в проекте, незаменим в написании и хранении сложных
                проектов.
            </div>
            <li><b>Библиотеки и инструменты:</b></li>
            <div>
                Тут целый ряд инструментов и библиотек, имеющих вспомогательное значение, но достаточно специфичных:
                JQuery, JSON, ftp/sftp/ssh. В качестве среды разработки был использован Pycharm IDE, а среди прочих авторских проектов,
                ссылки на которые можно найти на страницах сайта, есть приложения на C# и Java.
            </div>
        </ol>
    </div>
</html>
